
@font-face {
    font-family: 'TommySoft';
    src: url(./TommySoft_bold.otf);
  }
  
  @font-face {
    font-family: TommySoft-thin;
    src: url(./TommySoft_thin.otf);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'TommySoft';

  }