nav{
  font-family: TommySoft;
  overflow-x: hidden;
}

.title1{
  font-family: TommySoft-thin;
}

.profilePic{
  @apply bg-gradient-to-tr from-green-300 via-blue-300 to-purple-300;
}

.profilePic img{
  width: 100%;
  height: 100%;
  clip-path: circle(45% at 50% 50%);
}

:root{
  --navWidth: clamp(240px, 80%, 35rem);
}

.navbarLink{
  @apply font-bold ml-3 text-sm sm:text-base sm:ml-6 
  lg:text-xl text-black opacity-50;
  transition: opacity 200ms;
}

.navbarLink:hover{
  @apply opacity-100;
}
