
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  
  html{
    /* @apply bg-gradient-to-tr from-purple-600 via-pink-600 to-red-600; */
    /* background-image: url(./images/backdemo.png); */
    background-size: cover;
    @apply bg-gray-300  
}
